.titulo {
    background: linear-gradient(180deg, rgba(136,95,78,1) 12%, rgba(75,52,43,1) 95%, rgba(32,19,15,1) 100%);
    color: #fff;
    width: 100%;
    border-radius: 25px 25px 0 0;
    padding: 10px 0;
    margin: 0 !important;
}